<div class="row">
    <div class="col">
        <h5>Novo contato</h5>
    </div>
</div>

<br>

<div class="row" ng-show="sucesso">
    <div class="col">
        <span class="alert alert-success">Contato salvo</span>
    </div>
</div>

<div class="row" ng-show="erro">
    <div class="col">
        <span class="alert alert-danger">Ocorreu um erro ao tentar salvar o contato</span>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <form ng-submit="salvar()">
            <div class="form-group">
                <label>Nome</label>
                <input ng-change="converterParaMaiusculo()" type="text" class="form-control" ng-model="nome" required>
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" id="telefone" class="form-control" ng-model="telefone" required>
            </div>
            <input type="submit" value="Salvar" class="btn btn-primary">
        </form>
    </div>
</div>