<div class="row">
    <div class="col text-center">
        <h5>Contatos cadastrados</h5>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sidney Sousa</td>
                    <td>(67)99999-9999</td>
                </tr>
                <tr>
                    <td>Diego Sant'Ana</td>
                    <td>(67)88888-8888</td>
                </tr>
                <tr>
                    <td>Rafael Schmid</td>
                    <td>(67)77777-7777</td>
                </tr>
                <tr>
                    <td>Leandro Oliveira</td>
                    <td>(67)66666-6666</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>